body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #25d366;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #128c7e;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.view-btn,
.clear-btn {
    padding: 10px 20px;
    background-color: #25d366;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.view-btn:hover,
.clear-btn:hover {
    background-color: #128c7e;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message-list li {
    margin-bottom: 10px;
}

.enc-msg {
    color: #888;
    font-size: 14px;
}
